{% extends "page.html" %}

{% block subtitle %}{{ _('Freedom of Information') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Freedom of Information'), controller='ckanext.irish_theme.controller:IrishThemeController', action='foi' %}</li>
{% endblock %}

{% block primary %}
<div class="panel panel-default">
{% block primary_content %}
  <article class="module col-sm-12">
    <h1 class="page-heading">{{ _('Freedom of Information') }}</h1>
    <p class="panel-body">More Information coming soon ... </p>
  </article>
{% endblock %}
</div>
{% endblock %}

