<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Request Data!') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
       As this is the Alpha-version of Data.gov.ie, we value your opinions and insights towards the further development of this portal. Please provide feedback pertaining to any new packages that you wish to see incoporated in the future versions.
      {% endtrans %}
    </p>
  </div>
</div>
